* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #061118;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  color: #f66b0e;
}

.activeEdu {
  color: rgba(174, 62, 201, 0.7);
}

.activePS {
  color: #40c057;
}

.activeCert {
  color: #fab005;
}

.activeAS {
  color: #7950f2;
}

.notActive {
  color: #eee;
}
